<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Confirm password reset</title>
</head>
<body>
    <div style="margin-bottom: 14px;" th:text="#{mail.new-password.text1(${username})}">Hi ..., </div>
    <div style="margin-bottom: 14px;">
        <span th:text="#{mail.new-password.text2}">Your new password is ... </span>
        <span style="font-weight: bold" th:text="${newPassword}"></span>.
    </div>
     <div style="margin-bottom: 14px;" th:text="#{mail.new-password.text3}">Thanks, the JQK team</div>
</body>
</html>