<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New password</title>
</head>
<body>
    <div style="margin-bottom: 14px;" th:text="#{mail.reset-password.text1(${username})}">Hi guy, </div>
    <div style="margin-bottom: 14px;" th:text="#{mail.reset-password.text2}">You recently requested to reset the password for your account. Click the button below to proceed.</div>
    <div style="margin-bottom: 14px;"><a th:href="${url}" th:text="${url}"></a></div>
    <div style="margin-bottom: 14px;" th:text="#{mail.reset-password.text3}">If you did not request a password reset, please ignore this email or reply to let us know. This password reset link is only valid for the next 30 minutes.</div>
    <div style="margin-bottom: 14px;" th:text="#{mail.reset-password.text4}">Thanks, the JQK team</div>
</body>
</html>